@import '../Styles/colours.scss';

.avatar {
  // this label wraps the whole avatar so we need to define the height too
  .MuiButton-label {
    height: 100%;
    display: block;
  }

  // Default avatar dimensions
  .MuiAvatar-root {
    width: 56px;
    height: 56px;
  }

  // Primary avatar with thick gold border
  &.avatar--primary {
    .MuiAvatar-root {
      width: 110px;
      height: 110px;
      text-align: center;
      border: $app_gold 0.2rem solid;
      img {
        vertical-align: middle;
      }
    }
  }

  // Large avatar with thick gold border
  &.avatar--large {
    .MuiAvatar-root {
      width: 11.09rem;
      height: 11.09rem;
      text-align: center;
      border: $app_gold 0.2rem solid;
      img {
        vertical-align: middle;
      }
    }
  }

  &.avatar--clickable {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 14px;
      line-height: 1.5;
      font-family: 'Lato';
      text-transform: uppercase;
    }

    .btn {
      padding: 0;
      width: 83px;
      height: 83px;
      overflow: hidden;
      border-radius: 50%;
      border: 0.2rem solid transparent;
      &:hover {
        background: none;
        border: 0.2rem solid $app_gold;
      }
      .MuiAvatar-root {
        width: 100%;
        height: 100%;
      }
    }

    .btn--selected {
      padding: 0;
      width: 83px;
      height: 83px;
      border-radius: 50%;
      border: 0.2rem solid $app_gold;
      .MuiBadge-root {
        height: 100%;
        width: 100%;
      }
      .MuiAvatar-root {
        width: 100%;
        height: 100%;
      }
      .MuiBadge-badge {
        width: 1rem;
        border-radius: 50%;
        background-color: $app_gold;
        .MuiSvgIcon-root {
          color: black;
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  // User avatar with notification number badge
  &.avatar--notification-badge {
    width: 79px;
    height: 79px;

    .MuiBadge-root {
      .MuiAvatar-root {
        width: 100%;
        height: 100%;
        border: 0.1rem solid white;
      }
      .MuiBadge-badge {
        padding: 4px;
        color: white;
        border-radius: 50%;
        background-color: #43af7c;
      }
    }
  }

  // Bordered large user avatar with clickable icon badge
  &.avatar--icon-badge-bb {
    .MuiBadge-root {
      width: 121px;
      height: 121px;

      .MuiAvatar-root {
        width: 100%;
        height: 100%;
        border: 2px solid black;
      }

      .MuiBadge-badge {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $app_gold;

        .MuiIconButton-root {
          padding: 0;
          color: black;
          .MuiSvgIcon-root {
            width: 0.85em;
            height: 0.85em;
          }
        }
      }
    }
  }

  // Borderless large user avatar with clickable icon badge
  &.avatar--icon-badge-bn {
    .MuiBadge-root {
      width: 121px;
      height: 121px;

      .MuiAvatar-root {
        width: 100%;
        height: 100%;
      }

      .MuiBadge-badge {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $app_gold;

        .MuiIconButton-root {
          padding: 0;
          color: black;
          .MuiSvgIcon-root {
            width: 0.85em;
            height: 0.85em;
          }
        }
      }
    }
  }
}
